@charset "utf-8";

* {
margin: 0;
padding: 0;
} 

h2 {
	padding-bottom: 0.5cm;
}

.bodystyle {
    color: #2D0930;
	font-style: italic;
	font-size:130%;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1.5cm;
    width: 1000px;
}

body {
}
body {
    background-image: url(../images/dots.jpg);
    background-size: cover;
}
.colorfulbox {
    color: #3E1660;
    font-style: oblique;
	font-size: 300%;
    background-color:#EFB0FF;
    border-top-width: 0%;
    margin: 0;
    padding: 0.5cm;
    text-align: center;
}
