@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarala&display=swap');
* {
margin: 0;
padding: 0;
} 

h2 {
	padding-bottom: 0.5cm;
	font-family: 'Monoton', cursive;
	font-size: 240%
}

h3 {
    font-family: 'Monoton', cursive;
	font-size: 150%	 
}

h4 {
    font-family: 'Monoton', cursive;
	font-size: 150%	
}

h5 {
    font-family: 'Monoton', cursive;
	font-size: 150%
	 
}
h6 {
    font-family: 'Monoton', cursive;
	font-size: 150% 
}

my-navbar {
	background-color:#FFFFFF;
	font-family: 'Sarala', sans-serif;
}


.bodystyle {
    color: #2D0930;
	font-style: normal;
	font-size:130%;
	font-family: 'Sarala', sans-serif;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1.5cm;
}

body {
    background-image: url("../images/lightblue.jpg");
    background-size: cover;
}
.colorfulbox {
    color: #FFFFFF;
    font-style: normal;
	font-size: 300%;
	font-family: 'Monoton', cursive;
    background-color:#702567;
    border-top-width: 0%;
    margin: 0;
    padding: 0.5cm;
    text-align: center;
}
